<%- include('../partials/header.ejs') %>

<div class="d-flex align-items-center position-relative overflow-hidden pt-6 pb-lg-5 about-container">
    <div class="row align-items-center bg-white">
        <div class="col-md-5 text-center d-sm-block mt-5" id="title">
           <h2 class="card-title font-weight-bold">Nicholas Eveland</h2>
           <hr class="style-one">
           <h5 class="card-text font-weight-normal text-center">Full-Stack Javascript Developer</h5>
           <div class="my-4">
               <a href="/resume/download" class="btn btn-secondary" id="download-pdf-btn">Download Resum&eacute;</a>
           </div>
           <a href="http://www.linkedin.com/in/nicholas-eveland-7988279a" class="social-link" target="_blank">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/nme077" class="social-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            </div>

       <div class="col-md-7" id="portrait">
           <img class="img-fluid" src="./images/2113 Nicholas Eveland.jpeg" alt="Nicholas Eveland">
       </div>
    </div>
</div>


<!--Qualifications-->
<div class="colored-container">
    <div class="container">
        <span class="anchor" id="qualifications"></span>
        <h2 class="headingText mb-4">Skills</h2>
        <div class="row">
            <div class="col-sm-12 col-md-3 my-2 text-center">
                <h3 class="display-2 text-secondary"><i class="fab fa-js"></i></h2>
                <h3>Javascript</h3>
                <p>ES6, React, Node.js</p>
            </div>
            <div class="col-sm-12 col-md-3 my-2 text-center">
                <h3 class="display-2 text-secondary"><i class="fas fa-paint-roller"></i></h2>
                <h3>Front-End</h3>
                <p>HTML, CSS, Bootstrap</p>
            </div>
            <div class="col-sm-12 col-md-3 my-2 text-center">
                <h3 class="display-2 text-secondary"><i class="fas fa-database"></i></h2>
                <h3>Database</h3>
                <p>MongoDB</p>
            </div>
            <div class="col-sm-12 col-md-3 my-2 text-center">
                <h3 class="display-2 text-secondary"><i class="fas fa-cloud"></i></h2>
                <h3>Cloud and Hosting</h3>
                <p>Heroku, Cloudinary</p>
            </div>
        </div>
    </div>
</div>

<div class="other-container pb-3">
    <div class="container">
        <span class="anchor" id="projects"></span>
        <h2 class="headingText mb-4">Projects</h2>

        <div class="row">

        <div class="card border-none portfolio portfolio-card col-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_cards.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Cards</h5>
            <p class="card-title portolio-desc">Greeting card creator built on Node.js</p>
            <a href="https://cardapp77.herokuapp.com/" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_burgerbarn.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Burger Barn</h5>
            <p class="card-title portolio-desc">The unofficial Burger Barn website built with the MERN stack.</p>
            <a href="https://burger-barn-1827.herokuapp.com/" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_famsocial.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">FamSocial</h5>
            <p class="card-title portolio-desc">The social network designed for your Fam!</p>
            <a href="https://famsocial.herokuapp.com/" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_hoursplanner.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Hours Planner</h5>
            <p class="card-title portolio-desc">Calculate the number of chargeable hours you need to work to hit your monthly goals. Perfect for tax accountants!</p>
            <a href="https://hoursplanner.herokuapp.com" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_tax.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Tax Withholding Estimator</h6>
            <p class="card-title portolio-desc">Calculate your estimated tax for the year and the amount you need to withhold by the end of the year</p>
            <a href="https://codepen.io/nicholas-eveland/full/BaKJxQg" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_pomodoro.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Pomodoro Clock</h5>
            <p class="card-title portolio-desc">Easy to use pomodoro timer to stay focused and mentally fresh</p>
            <a href="https://codepen.io/nicholas-eveland/full/mdeoPNB" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_calculator.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Calculator</h5>
            <p class="card-title portolio-desc">Calculator built on Node.js and React</p>
            <a href="https://reactcalchp.herokuapp.com" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_markdown.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Markdown Previewer</h5>
            <p class="card-title portolio-desc">Write in markdown and see an instant preview</p>
            <a href="https://codepen.io/nicholas-eveland/full/VwvbaLq" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_drums.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Drum Machine</h5>
            <p class="card-title portolio-desc">Simple drum machine triggered by mouse or keyboard</p>
            <a href="https://codepen.io/nicholas-eveland/full/bGVomdm" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_quotes.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">Random Quotes</h5>
            <p class="card-title portolio-desc">Generate a random quote instantly</p>
            <a href="https://codepen.io/nicholas-eveland/full/QWjERdJ" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>

        <div class="card border-none portfolio portfolio-card col-md-6 col-sm-12">
            <div class="comp">
                <div class="monitor">
                    <div class="screen">
                        <!--SCREENSHOT-->
                        <img class="link-img" src="./images/screenshot_colors.png">
                    </div>
                </div>
                <div class="base"></div>
            </div>
            <h5 class="mt-2 portfolio-title font-weight-bold">RGB Color Game</h5>
            <p class="card-title portolio-desc">Guess the color of any given RGB pattern</p>
            <a href="https://codepen.io/nicholas-eveland/full/BajyJwQ" target="_blank">View project <i class="fas fa-chevron-right"></i></a>
        </div>
        </div>
    </div> 
</div>

<div class="colored-container">
    <div class="education-container container">
        <!--Education-->
        <span class="anchor" id="education"></span>
        <h2 class="headingText">Education</h2>
        <% if(loggedIn) { %>
            <form action="/resume/education/new" method="GET">
                <button class="btn btn-success">
                    Add new education
                </button>
            </form>
        <% }; %>

        <div class="row">
            <% education.forEach(item => { %>
                <div class="col-sm-12 col-md-6 my-2">
                    <div class="card border-0 bg-transparent">
                        <div class="card-body">
                            <img src="<%= item.image %>" class="card-img-top" style="max-width: 45%; height: auto; padding-bottom:15px;">
                            <h5 class="card-title"><%= item.degree %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.field %></h6>
                            <p class="card-text"><%= item.misc %></p>
                            <% if(loggedIn) { %>    
                                    <form  action="/resume/education/<%= item._id %>/edit" method="GET">
                                        <button class="btn btn-primary btn-block">
                                            Edit
                                        </button>
                                    </form>
                                    <form class="form" action="/resume/education/<%= item._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-block">
                                            Delete
                                        </button>
                                    </form>
                            <% }; %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    </div>

<!--Experience-->
<div class="experience-container container">
    <span class="anchor" id="experience"></span>
    <h2 class="headingText">Experience</h2>
    <% if(loggedIn) { %>
        <form action="/resume/experience/new" method="GET">
            <button class="btn btn-success">
                Add new experience
            </button>
        </form>
    <% }; %>
    
    <div class="row">
        <% jobs.forEach(item => { %>
            <div class="col-12">
                <div class="card bg-transparent shadow-sm">
                    <div class="card-body">
                        <img src="<%= item.image %>" class="card-img-top" style="max-width: 45%; height: auto; padding:15px;">
                        <h5 class="card-title"><%= item.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= item.company %></h6>
                        <p class="card-text location-and-date text-muted"><%= item.location %>; <%= item.duration %></p>
                        <p class="card-text text-left"><%= item.description %></p>
                        <% if(loggedIn) { %>    
                            <form  action="/resume/experience/<%= item._id %>/edit" method="GET">
                                <button class="btn btn-primary btn-block">
                                    Edit
                                </button>
                            </form>
                            <form class="form" action="/resume/experience/<%= item._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-block">
                                    Delete
                                </button>
                            </form>
                    <% }; %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>